<!DOCTYPE html>
<html>

<head>
    <title>asdf</title>
    <meta charset="utf-8">
</head>

<body id="vue">

    <script id="data" type="application/json">
        {
            "org": 10,
            "items": ["one", "two"]
        }
    </script>

    <div class="uk-section uk-section-muted">

        <div class="uk-container uk-position-relative">

            <ul class="uk-breadcrumb">
                <li><a href="/" uk-icon="icon: home; ratio: .8"></a></li>
                {{range .Parents}}
                <li><a href="{{.Path}}">{{.Name}}</a></li>
                {{end}}
            </ul>
            <ul class="uk-iconnav uk-position-right">
                <li><a href="/alben/{{.Path}}" uk-icon="icon: album"></a></li>
            </ul>
            <h3>{{.Name}}</h3>

        </div>
    </div>
    <div class="uk-section">
        <div class="uk-container">
            <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small uk-table-justify">
                <caption> </caption>
                <thead>
                    <tr>
                        <th class="uk-table-shrink">Icon</th>
                        <th class="uk-table-expand">Name</th>
                        <th class="uk-table-shrink">MIMEType</th>
                        <th>Subtype</th>
                        <th>Size</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Children}}
                    <tr>
                        <td>
                            <span uk-icon="icon: {{ .Type | icon }}"></span>
                        </td>
                        <td>
                            <a href="{{.Path}}" title="{{.}}">{{.Name}}</a>
                        </td>
                        <td class="uk-table-shrink">
                            {{.MIME.Type}}
                        </td>
                        <td> {{if .MIME.Subtype}} {{.MIME.Subtype}} {{end}}
                        </td>
                        <td title="{{.Size}} Bytes">
                            {{.Size | bytes }}
                        </td>
                        <td>
                            {{.FormattedMTime }}
                        </td>
                    </tr>
                    {{end}}
                </tbody>

            </table>
        </div>





    </div>




</body>

</html>