@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$body-family: "Clear Sans",
"Cooper Hewitt",
"Segoe UI",
"Roboto",
"Helvetica Neue",
sans-serif;
$body-weight:200;
$body-line-height: 1.2;

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
//$black: #000000;
//$color: #000000;

// Update Bulma's global variables
//$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$grey-darker: #000;

// Update some of Bulma's component variables
$control-border-width: 1px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

//$navbar-height : 2rem;

$fa-font-path: "~font-awesome/fonts";

$footer-background-color: $grey-darker;
$footer-padding: 3rem 1.5rem 6rem;

//$modal-content-width:80%;
$modal-card-spacing:10px;
$modal-card-head-background-color: #fff;
$modal-card-head-border-bottom: 0px solid white;
$modal-card-head-padding: 10px 20px 0 20px;
//$modal-card-head-radius:2px;

$navbar-breakpoint: 600px;



[contenteditable]:focus {
    outline: 0px solid transparent;
}

[v-cloak]>* {
    display: none
}

[v-cloak]::before {
    content: "loading…"
}

/* https://github.com/jgthms/bulma/issues/1708 Bulma conflicts with Prism.js syntax highlighting plugin*/
.text .tag,
.text .number {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
}

svg {
    width: 100%;
    height: 100%;
}

.feather2 {
    fill: none;
    stroke: currentcolor;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.is-user-group {
    text-decoration: underline;
    font-weight: 400;
}

.is-not-user-group {
    text-decoration: line-through;
}

.nowrap {
    white-space: nowrap;
    overflow-wrap: normal;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
}











@import '../../node_modules/bulma/bulma.sass';

@import '../../node_modules/bulma-timeline/src/sass/index.sass';