{{ define "error" }}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>errro {{.errno}}</title>

</head>

<body>

    <section class="hero is-light is-bold is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{.errno}}
                </h1>
                <h2 class="subtitle">
                    {{.rootCause}}
                </h2>
                {{ if .debug }}
                <pre style="background: transparent">{{.msg}}</pre>
                {{ end }}
            </div>
        </div>
    </section>
</body>

</html>

{{ end }}