{{ define "file" }}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.File.Path}}</title>
</head>

<body>

    {{  marshalJSON "data" . }}

    <div id="app">

        {{template "partials/hero" .}}


        <section class="section">
            <div class="container" v-cloak style="border:1px solid goldenrod">
                <prism-editor :code="content" lang="js" @update="onChange"></prism-editor>
            </div>
        </section>
        <section class="section">
            <div class="container" v-cloak style="border:1px solid black">
               
                    <!--  <markdown-editor :readonly="{{ not .File.Permissions.Write}}">{{.Content}}</markdown-editor>
                    
                    <code-highlighter language="{{.File.MIME.Subtype}}" :readonly="false">{{.Content}}
                    </code-highlighter>
                    
                  <pre class="text"><code class="language-go" v-highlight>{{.Content}}</code></pre>-->
                   
             


                <div class="content" v-text="content"></div>
              





            </div>
        </section>
       
        

    </div>
</body>

</html>

{{ end }}