<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ .Description }}" />
    <meta name="keywords" content="{{ .Keywords }}" />
    <meta name="author" content="Matthias Ihle" />

    <link rel="stylesheet" href="/static/uikit.min.css" />
    <link rel="stylesheet" href="/static/style.css" />

</head>

<body>

    {{ marshalJSON "data-album" . }}

    <div id="vueapp">

        <div class="uk-section uk-section-small uk-section-muted">

            <div class="uk-container">

                <nav class="uk-navbar-container" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-breadcrumb">
                            <li><a href="/" uk-icon="icon: home; ratio: .8"></a></li>
                            {{range .Parents}}
                            <li><a class="uk-text-emphasis" href="/alben/{{.Path}} ">{{.Name}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="uk-navbar-right">

                        <div class="uk-button-group">
                            <a href="{{.Path}}" class="uk-button uk-button-default" uk-icon="icon: folder"></a>
                        </div>
                        <ul class="uk-iconnav">
                            <li>
                                <a href="{{.Path}}" class="uk-button uk-button-default" uk-icon="icon: folder"></a>
                            </li>
                        </ul>



                    </div>
                </nav>

                <h4 class="uk-text-lead">{{.Name}}</h4>



            </div>
        </div>







        <div class="uk-section">

            <pswp-gallery :images="directory.Images"></pswp-gallery>

        </div>

    </div>


</body>

</html>