{{ define "content" }}

<style>
.box {
    background: #fff;
    border-radius: 4px;
    margin: 16px;
    padding:1rem;
    border: 1px solid rgba(17, 17, 19, 0.09);
}
header {
    padding: 1rem;
}
</style>
<div class="page">
        <header class="header">
            
                <div class="is-container is-width-medium is-center alert">
                        <nav class="breadcrumb">
                                <a href="/">root</a>
                                {{range .Parents}}
                                    <a href="{{.Path}}">{{.Name}}</a>
                                {{end}}
                        </nav> 
                </div>
            
        </header>
        <main class="main">
                <div class="is-width-medium is-center alert">
                <table>
                        <thead>
                            <tr>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody>
                                {{range .Children}}
                            <tr>
                                <td><span class="icon-kube-search"></span></td>
                                <td><a href="{{.Path}}" title="{{.}}">{{.Name}}</a></td>
                                <td><small>{{.MIME.Type}}</small></td>
                                <td><small>{{.MIME.Subtype}}</small></td>
                                <td title="{{.Size}} Bytes"><small>{{.Size | bytes }}</small></td>
                            </tr>{{end}}
                        </tbody>
                       
                    </table>
                </div>
                
        </main>
        <footer class="footer">footer</footer>
</div>
    
  <script>
  new Vue({
      el: '#app',
      data: {
          message: 'Hello Vue.js!'
      }
  })
  </script>



   
{{end}}