<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.file.Path}}</title>
    <link rel="stylesheet" href="/dist/css/app.css">
    <link rel="stylesheet" href="/static/map.svg">
</head>

<body>

    <div id="app">
        {{template "hero" .}}


        <section class="section">
            <button @click="edit=!edit">edit</button>

            <div class="container">
                <form method="post">
                    <textarea class="textarea  has-fixed-size box" name="content" v-if="edit">{{.content}}</textarea>

                    <div class="box content" v-else>{{.Markdown}}</div>
                    <button type="submit">save</button>
                </form>
            </div>

        </section>


        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-8-desktop is-offset-2-desktop">
                    </div>
                </div>
            </div>
        </section>


        <footer class="footer has-text-centered">
            <div class="container">
                <div class="columns">
                    <div class="column is-8-desktop is-offset-2-desktop">
                        <p>
                            <strong class="has-text-weight-semibold">
                                <a href="https://www.npmjs.com/package/bulma-start">bulma-start@0.0.3</a>
                            </strong>
                        </p>
                        <p>
                            <small>
                                Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
                            </small>
                        </p>
                        <p style="margin-top: 1rem;">
                            <a href="http://bulma.io">
                                <img src="/static/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/dist/js/chunk-vendors.js"></script>
    <script src="/dist/js/app.js"></script>

</body>

</html>