{{ define "content" }}

<style>
.box {
    background: #fff;
    border-radius: 4px;
    margin: 16px;
    padding:1rem;
    border: 1px solid rgba(17, 17, 19, 0.09);
}
header {
    padding: 1rem;
}
</style>
<div class="page">
        <header class="header">
            
                <div class="is-container is-width-medium is-center alert">
                        <nav class="breadcrumb">
                                <a href="/">root</a>
                                {{range .Parents}}
                                    <a href="{{.Path}}">{{.Name}}</a>
                                {{end}}
                        </nav> 
                </div>
            
        </header>
        <main class="main">
            
               
            <div class="is-width-medium is-center">
                <div>{{.Name}}</div>
                <pre>{{printf "%s" .Content}}</pre>
            </div>    
        </main>
        <footer class="footer"></footer>
</div>
    
  <script>
  new Vue({
      el: '#app',
      data: {
          message: 'Hello Vue.js!'
      }
  })
  </script>



   
{{end}}
   
