{{ define "content" }}


<div class="uk-section uk-section-secondary">

    <div class="uk-container">

        <form class="uk-form-horizontal ">

            <label class="uk-form-label" for="image-title">Title</label>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-blank" id="image-title" type="text" placeholder="Title.." value="{{.Title}}">
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="image-caption">Caption</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea uk-form-blank" id="image-caption" placeholder="Caption ...">{{.Caption}}</textarea>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="image-cutline">Cutline</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea" id="image-cutline" placeholder="Cutline ..." rows="3">{{.Cutline}}</textarea>
                </div>
            </div>

            <div class="uk-margin">

                <button class="uk-button uk-button-default" type="submit">Submit</button>
            </div>

        </form>
        <button class="uk-button uk-button-default" uk-tooltip="title: Hello World">Hover</button>







        <div>{{.Format}}, {{.Width}}x{{.Height}} ({{.ColorModel}})</div>
        <div>{{.MIME.Value}}</div>


    </div>


    <img src="/serve{{.Path}}" />

</div>



{{end}}