{{ define "layout" }}
<!doctype html>
<html>
<head>
    <title>Basic Template</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Kube CSS -->
    <link rel="stylesheet" href="/static/kube.min.css">

</head>
<body>
    
    {{ template "content" . }}

    <!-- Kube JS (optional if you are using Kube CSS only) -->
    <script src="/static/kube.min.js"></script>
    <script>
        $K.init();
    </script>
</body>
</html>

{{ end }}
