{{ define "textfile" }}

<style>
</style>
<div class="uk-section">

    <div class="uk-container">

        <form method="post">

            <nav class="uk-navbar-container uk-margin" uk-navbar>
                <div class="uk-navbar-left">

                    <span class="uk-navbar-item uk-logo">{{.Title}}</span>


                    <div class="uk-navbar-item">
                        <button class="uk-button uk-button-default" type="submit">Submit</button>
                    </div>

                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                                Features
                            </a>
                        </li>
                        <li>
                            <a href="#">Item</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li class="uk-nav-header">Header</li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <textarea class="uk-textarea ta uk-form-blank" name="content" v-autosize>{{ .StringContent }}</textarea>


        </form>

    </div>







</div>



{{end}}