{{define "partials/hero"}}


<section class="hero is-primary">
    <div class="hero-head">

        <nav class="navbar is-primary " role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://ihle.cloud">
                    <strong class="is-size-4">ihle.</strong>
                    <svg class="feather feather-cloud sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="351">
                        <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"></path>
                    </svg>
                    <span class="is-size-3">&nbsp;/</span>
                </a>

                <div class="navbar-item has-dropdown" :class="{ 'is-active': isActive }" @click="isActive=!isActive">
                    <a class="navbar-link">
                        {.Title}
                    </a>

                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item">
                            Home
                        </a>
                        <a class="navbar-item">
                            Public
                        </a>
                        <a class="navbar-item">
                            Arbeit
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Alben
                        </a>
                    </div>
                </div>

            </div>
            <div class="navbar-menu">

                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                            <span class="icon">
                                <svg style="width:100%;height:100%">

                                    <use xlink:href="/feather-icons.svg#icon-user"></use>
                                </svg>
                            </span>
                        </a>

                        <div class="navbar-dropdown is-right is-boxed">

                            <div class="dropdown-item">
                                <strong>Matthias Ihle</strong>
                            </div>

                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                Username: {{.User.Username}}
                            </a>
                            <a class="dropdown-item">
                                Uid: {{.User.Uid}}
                            </a>
                            <hr class="dropdown-divider">
                            <div class="dropdown-item">
                                <strong>Groups</strong>
                                <div>{{.User.Uid}}</div>
                            </div>
                            <hr class="dropdown-divider">
                            <a href="/logout" class="dropdown-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{.File.Name}}
            </h1>
            <h2 class="subtitle">
                {{.File.MIME}}
            </h2>

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">root</a></li>
                    {{range .File.Breadcrumbs}}
                    <li><a href="{{.Path}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
            </nav>

        </div>
    </div>
</section>

{{end}}